.admin-btn{
  @include d-flex($center: true);
  background-color: $black;
  height: 36px;
  padding: 0 14px;
  color: $white;
  font-size: 14px;
  border: none;
  @include transition;
  cursor: pointer;

  &:hover{
    background-color: $green;
  }

  &-group{
    @include d-flex($ai: center);
    @include m-not-last(24px, r);
  }
}

.ck-btn{
  @include d-flex($center: true);
  border: 1px solid $orange;
  background-color: $white;
  border-radius: 30px;
  height: 42px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  color: $orange;
  @include transition;

  &:hover{
    background-color: $orange;
    color: $white;
  }
}