.category-panels {
    @include flex-row-6(6px);

    &__item {
        @include d-flex($center: true);
        height: 279px;
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 18px;
        position: relative;

        & span {
            position: absolute;
            color: $white;
        }

        &:hover {
            & img {
                transform: scale(.95);
            }
        }
    }
}