.comments{
  @include d-flex($dir: column);
  @include m-not-last(15px, b);

  &__item{
    padding: 12px 15px;
    background-color: $white;
    border: 1px solid $grey-300;
    border-radius: 5px;

    &__title{
      margin-bottom: 6px;
    }
  }
}