.favorite-heart {
    @include circle(40px);
    background-color: $white;
    cursor: pointer;

    & .heart-empty, .heart-filled{
        width: 70%;
        @include transition;
        position: absolute;
    }

    & .heart-filled {
        opacity: 0;
    }

    & .heart-empty {
        opacity: 1;
    }

    &.filled {
        & .heart-filled {
            opacity: 1;
        }

        & .heart-empty {
            opacity: 0;
        }
    }
}
