.ck-form{
  @include d-flex($dir: column, $ai: center);
  max-width: 640px;
  padding: 20px 30px 32px;
  margin: 0 auto;

  &__title, &__info{
    margin-bottom: 36px;
  }

  &__info{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }

  &__field{
    width: 100%;
    margin-bottom: 16px;
  }

  & .ck-btn{
    margin-top: 36px;
  }

  &__checkbox{
    & input{
      margin-right: 8px;
    }
  }

  &__additional{
    @include d-flex($dir: column, $ai: center);
    text-align: center;
    margin-top: 20px;

    & > * {
      font-weight: bold;

      &:not(:last-child){
        margin-bottom: 12px;
      }
    }
  }
}