.popup{
  @include fix(0, 0);
  @include square(100%);
  padding: 32px;
  z-index: 1000;
  background: rgba(235, 150, 5, 0.95);
  opacity: 0;
  pointer-events: none;
  @include transition;

  &.open{
    opacity: 1;
    pointer-events: all;
  }
  
  &__closer{
    @include abs($r: 32px, $t: 32px);
    @include square(84px);
    cursor: pointer;
  }

  &__content{
    &__title{
      text-align: center;
      color: $white;
      margin-bottom: 48px;
    }

    & .search-bar{
      margin-bottom: 60px;
    }

    &__scrollable{
      padding-right: 26px;
      overflow: auto;
      @include scrollbar($color: $white, $bg: rgba(255, 255, 255, .3), $w: 6px, $rounded: false, $allBg: rgba(255, 255, 255, .3));
    }
  }

  &.search-popup{
    @include d-flex($center: true);

    & .popup{
      &__content{
        @include d-flex($dir: column, $center: true);

        & .title-card{
          @include rect(320px, 170px);
        }
      }
    }
  }

  &.category-popup, &.ingredient-popup{
    overflow: hidden;

    & .popup{
      &__content{
        height: 100%;
        padding-top: 150px;

        &__scrollable{
          height: calc(100% - 120px);
        }
      }
    }
  }

  &.user-message-popup{
    @include d-flex($center: true);

    & .user-message-popup__content{
      max-width: 800px;
      line-height: 27px;
    }
  }
}