.product-grid {
    @include flex-row-4(14px);

    &__item {
        @include d-flex($center: true);
        height: 280px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;

/*        &:hover {
            & img {
                transform: scale(.95);
            }
        }*/
    }
}
