.table{
  width: 100%;
  border-spacing: 0;

  & th{
    background-color: $white;
    text-align: left;
  }

  & th, td{
    padding: 8px 12px;
  }

  & tr{
    &:nth-child(even){
      background-color: lighten($color: $grey-100, $amount: 5);
    }
    &:nth-child(odd){
      background-color: lighten($color: $grey-100, $amount: 2);
    }
  }
}