.title-card{
  @include d-flex($center: true);
  padding: 24px;
  text-align: center;
  position: relative;

  &.clickable{
    cursor: pointer;
  }

  &::after{
    @include default-after;
    @include assign-position(0, 0, 0, 0);
    z-index: -1;
    background-color: $white;
    border-radius: 5px;
    @include transition;
  }

  &.clickable:hover{
    &::after{
      transform: scale(.95);
    }
  }

  &-group{
    @include d-flex;
    @include m-not-last(14px, r);
  }
}