.user-panels {
    @include flex-row-4(14px);

    &__item {
        @include d-flex($center: true);
        height: 255px;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 24px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;

        & span {
            position: absolute;
            color: $white;
        }

        & img{
          width: 100%;
          object-fit: cover;
          @include transition;
        }

        &:hover {
            & img {
                opacity: .9;
            }
        }
    }
}
