<div class="user-message-popup popup" id="user-message-popup">
    <div class="popup__closer close-message-popup">
        <img src="~/assets/icons/components/close-white.svg" alt="Zamknij" />
    </div>
    <div class="user-message-popup__content title-card mobile-h2" id="user-message-content">

    </div>
</div>