$black: #110011;
$grey-700: #1F2127;
$grey-600: #3D4852;
$grey-500: #606F7B;
$grey-400: #8795A1;
$grey-300: #B8C2CC;
$grey-200: #DAE1E7;
$grey-100: #E7EDF3;
$white: #FFF;

$cream: #FEFBED;
$orange: #EB9605;
$red: #C44536;
$dark-red: #772E25;
$green: #197278;
$dark-green: #283D3B;
$purple: #4D5198;
$blue: #296EB4;