@model Cookify.Models.RecipeCategory

@{
    var title = "Create new recipe category";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.Id != 0)
    {
        title = "Edit recipe category";
    }
    <div class="admin-header">
        <h1 class="admin-header__title">@title</h1>
    </div>
    <div class="admin-form">
        <div class="admin-form__group">
            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="admin-form__actions">
            @if (Model.Id != 0)
            {
                <partial name="_EditAndGoBackButton" model="Model.Id" />
            }
            else
            {
                <partial name="_CreateAndGoBackButton" />
            }
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}