<form class="ck-form white-panel" method="post">

    <h1 class="ck-form__title h1">Zaloguj się</h1>

    <div class="ck-form__info">Nie masz konta? <a asp-area="User" asp-controller="Account" asp-action="Register" class="text-orange">Zarejestruj się</a></div>

    <input class="bordered-input" placeholder="Adres e-mail" />
    <input class="bordered-input" placeholder="Hasło" />

    <button class="ck-btn">Zaloguj się</button>

</form>