*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  &.no-scroll{
    overflow: hidden;
  }
}

#wpadminbar{
  display: none;
}

body{
  overflow-x: hidden;
  position: relative;
  background-color: $cream;
  padding-bottom: 110px;

  &.grey-body{
    background-color: $grey-100;
  }

  //iphone lul
  @media (hover: none) {
    cursor: pointer;
  }
}

input, textarea{
  border: none;
  font: inherit;

  &:focus{
    outline: none;
  }
}

button{
  font: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:focus{
    outline: none;
  }
}

input[type="checkbox"]{
  cursor: pointer;
}

label{
  cursor: pointer;
}

section{
  margin-bottom: 60px;
}