*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  &.no-scroll{
    overflow: hidden;
  }
}

#wpadminbar{
  display: none;
}

body{
  overflow-x: hidden;
  position: relative;
  background-color: $cream;

  &.grey-body{
    background-color: $grey-100;
  }

  //iphone lul
  @media (hover: none) {
    cursor: pointer;
  }
}