html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

::selection{
  color: $white;
  background: $orange;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

.open-sans{
  font-family: 'Open Sans', sans-serif;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: $grey-700;
}

.text-danger{
  color: $dark-red;
}

.h1{
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 60px;
  text-align: center;
}

.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: $orange;
  margin-bottom: 45px;

  & span{
    position: relative;

    &::after{
      @include after-under($w: 100%, $h: 3px, $top: calc(100% + 3px), $color: $orange);
    }
  }
}

.h3{
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.mobile-h2{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.text-orange{
  color: $orange;
}