@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="recipes-page ck-container">
    <h1 class="h1">Przepisy</h1>
    <div class="recipes-page__main">
        <div class="recipes-page__sidebar">
            <partial name="_FiltersSidebar" />
        </div>
        <div class="recipes-page__grid">
            @if (Model.Count > 0)
            {
            <div class="product-grid">
                @foreach (var recipe in Model)
                {
                    <partial name="_RecipeGridItem" model="recipe" />
                }
            </div>
            }
            else
            {
                <p>There are no recipes in the database!</p>
            }
        </div>
    </div>
</div>