@model Cookify.Models.ViewModels.RecipeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Dodaj nowy przepis";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Recipe.Id != 0)
        {
            title = "Edytuj przepis";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Recipe.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipe.Name" class="form-control" />
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Recipe.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipe.Description" class="form-control" />
                    <span asp-validation-for="Recipe.Description" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Recipe.DifficultyLevel"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipe.DifficultyLevel" class="form-control" />
                    <span asp-validation-for="Recipe.DifficultyLevel" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Recipe.PreparationTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipe.PreparationTime" class="form-control" />
                    <span asp-validation-for="Recipe.PreparationTime" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Recipe.ImageUrl"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Recipe.ImageUrl" class="form-control" />
                    <span asp-validation-for="Recipe.ImageUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Category
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Recipe.RecipeCategoryId, Model.RecipeCategoryList, "> Wybierz kategorię przepisu <", new { @class = "form-control" })
                    <span asp-validation-for="Recipe.RecipeCategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Recipe.Id != 0)
                    {
                        <partial name="_EditAndGoBackButton" model="Model.Recipe.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndGoBackButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}