<div class="popup ingredient-popup" id="ingredient-popup">
    <div class="popup__closer close-ingredient-popup">
        <img src="~/assets/icons/components/close-white.svg" alt="Zamknij" />
    </div>
    <div class="popup__content">
        <div class="popup__content__title h1">Popup ze składnikami</div>
    </div>
</div>