@model Cookify.Models.ViewModels.HomeViewModel 

<div class="home-header "ck-container">
    <h1 class="h1">Na co masz dzisiaj ochotę?</h1>
    <partial name="_SearchBarPartial" />
</div>


<section class="user-panels ck-container">
    <a href="#" class="user-panels__item">
        <img src="~/assets/placeholders/user-recipes.jpg" />
        <span>Wszystkie przepisy</span>
    </a>
    <a href="#" class="user-panels__item open-category-popup">
        <img src="~/assets/placeholders/user-categories.jpg" />
        <span>Wszystkie kategorie</span>
    </a>
    <a href="#" class="user-panels__item">
        <img src="~/assets/placeholders/user-popular.jpg" />
        <span>Najpopularniejsze przepisy</span>
    </a>
    <a href="#" class="user-panels__item open-ingredient-popup">
        <img class="user-panels__item" src="~/assets/placeholders/user-ingredients-search.jpg" />
        <span>Szukaj wg. składników</span>
    </a>
</section>

<section class="ck-container">
    <h2 class="h2"><span>Popularne kategorie</span></h2>

    <div class="category-panels">
        @for (int i = 0; i < 6; i++)
        {
            <a href="#" class="category-panels__item">
                <img src="~/assets/placeholders/category-soups.jpg" class="category-panels__item__bg" />
                <div class="category-panels__item__content">
                    <span>Zupy</span>
                </div>
            </a>
        }
    </div>
</section>

<section class="ck-container">
    <h2 class="h2"><span>Popularne przepisy</span></h2>
    <div class="product-grid">
        @foreach (var recipe in Model.PopularRecipes)
        {
            <partial name="_RecipeGridItem" model="@recipe" />
        }
    </div>
</section>

<section class="ck-container">
    <h2 class="h2"><span>Najnowsze przepisy</span></h2>
    <div class="product-grid">
        @foreach (var recipe in Model.NewRecipes)
        {
            <partial name="_RecipeGridItem" model="@recipe" />
        }
    </div>
</section>