<div class="popup" id="search-popup">
    <div class="popup__closer close-search-popup">
        <img src="~/assets/icons/components/close-white.svg" alt="Zamknij" />
    </div>
    <div class="popup__content">
        <div class="popup__content__title">Na co masz dzisiaj ochotę?</div>
    </div>
</div>