<form method="post" asp-area="User" asp-controller="Recipe" asp-action="Index" class="search-bar">
    <input type="text" name="search" placeholder="Szukaj..." />
    <button class="search-bar__btn">
        <img src="~/assets/icons/components/search.svg" alt="Szukaj "/>
    </button>
</form>