@model Cookify.Models.ViewModels.RecipeViewModel

@{
    var title = "Create new recipe";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.Recipe.Id != 0)
    {
        title = "Edit recipe";
    }
    <div class="admin-header">
        <h1 class="admin-header__title">@title</h1>
    </div>
    <div class="admin-form">
        <div class="admin-form__group">
            <label asp-for="Recipe.Name"></label>
            <input asp-for="Recipe.Name" />
            <span asp-validation-for="Recipe.Name" class="text-danger"></span>
        </div>
        <div class="admin-form__group">
            <label asp-for="Recipe.Description"></label>
            <input asp-for="Recipe.Description" />
            <span asp-validation-for="Recipe.Description" class="text-danger"></span>
        </div>
        <div class="admin-form__group">
            <label>Category</label>
            @Html.DropDownListFor(m => m.Recipe.RecipeCategoryId, Model.RecipeCategoryList, "> Select recipe category <", new { @class = "form-control" })
            <span asp-validation-for="Recipe.RecipeCategoryId" class="text-danger"></span>
        </div>
        <div class="admin-form__actions">
            @if (Model.Recipe.Id != 0)
            {
                <partial name="_EditAndGoBackButton" model="Model.Recipe.Id" />
            }
            else
            {
                <partial name="_CreateAndGoBackButton" />
            }
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}