<nav class="ck-nav ck-container">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="ck-nav__logo">
        <img src="~/assets/icons/components/logo.svg" alt="Cookify Logo" />
    </a>

    <div class="ck-nav__links">
        <a asp-area="User" asp-controller="Home" asp-action="Index" class="ck-nav__links__item active">
            <img src="~/assets/icons/components/home-orange.svg" alt="Strona główna" />
            <span>Strona główna</span>
        </a>
        <a asp-area="User" asp-controller="Recipe" asp-action="Index" class="ck-nav__links__item">
            <img src="~/assets/icons/components/food-orange.svg" alt="Przepisy" />
            <span>Przepisy</span>
        </a>
        <div class="ck-nav__links__item open-category-popup">
            <img src="~/assets/icons/components/book-orange.svg" alt="Kategorie" />
            <span>Kategorie</span>
        </div>
        <div class="ck-nav__links__item open-search-popup">
            <img src="~/assets/icons/components/search-orange.svg" alt="Szukaj" />
            <span>Szukaj</span>
        </div>
        <a href="#" class="ck-nav__links__item">
            <img src="~/assets/icons/components/checked-list-orange.svg" alt="Lista zakupów" />
            <span>Lista zakupów</span>
        </a>
        <a href="#" class="ck-nav__links__item">
            <img src="~/assets/icons/components/heart-orange.svg" alt="Ulubione" />
            <span>Ulubione</span>
        </a>
        <a href="#" class="ck-nav__links__item">
            <img src="~/assets/icons/components/user-orange.svg" alt="Profil" />
            <span>Profil</span>
        </a>
    </div>
</nav>
<div class="ck-nav-height"></div>