@using Microsoft.AspNetCore.Identity


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<nav class="ck-nav ck-container">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="ck-nav__logo">
        <img src="~/assets/icons/components/logo.svg" alt="Cookify Logo" />
    </a>

    <div class="ck-nav__links">
        <a asp-area="User" asp-controller="Home" asp-action="Index" class="ck-nav__links__item active">
            <img src="~/assets/icons/components/home-orange.svg" alt="Strona główna" />
            <span>Strona główna</span>
        </a>
        <a asp-area="User" asp-controller="Recipe" asp-action="Index" class="ck-nav__links__item">
            <img src="~/assets/icons/components/food-orange.svg" alt="Przepisy" />
            <span>Przepisy</span>
        </a>
        <div class="ck-nav__links__item open-category-popup">
            <img src="~/assets/icons/components/book-orange.svg" alt="Kategorie" />
            <span>Kategorie</span>
        </div>
        <div class="ck-nav__links__item open-search-popup">
            <img src="~/assets/icons/components/search-orange.svg" alt="Szukaj" />
            <span>Szukaj</span>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-area="User" asp-controller="FavoriteRecipe" asp-action="Index" class="ck-nav__links__item">
                <img src="~/assets/icons/components/heart-orange.svg" alt="Ulubione" />
                <span>Ulubione</span>
            </a>

        }
        <div class="ck-nav__links__item ck-dropdown-menu-con">
            <a href="#" class="ck-nav__links__item">
                <img src="~/assets/icons/components/user-orange.svg" alt="Profil" />
                <span>Profil</span>
            </a>
            <div class="ck-dropdown-menu to-right">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="User" asp-controller="Recipe" asp-action="Upsert" class="ck-dropdown-menu__link">
                        Wyślij swój przepis
                    </a>
                    <a asp-area="User" asp-controller="FavoriteRecipe" asp-action="Index" class="ck-dropdown-menu__link">
                        Ulubione przepisy
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="ck-dropdown-menu__link">
                        Ustawienia
                    </a>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Wyloguj</button>
                    </form>

                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Login" class="ck-dropdown-menu__link">
                        Zaloguj się
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Register" class="ck-dropdown-menu__link">
                        Zarejestruj się
                    </a>
                }
            </div>
        </div>
</nav>
<div class="ck-nav-height"></div>