@page
@model IndexModel
@{
    ViewData["Title"] = "Twoje dane";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<form class="ck-form white-panel" id="account" method="post">

    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <h1 class="ck-form__title h1">@ViewData["Title"]</h1>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="ck-form__field">
        <input asp-for="Username" class="bordered-input" placeholder="Nazwa użytkownika" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <button type="submit" class="ck-btn">Zapisz</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}