<div class="popup category-popup" id="category-popup">
    <div class="popup__closer close-category-popup">
        <img src="~/assets/icons/components/close-white.svg" alt="Zamknij" />
    </div>
    <div class="popup__content">
        <div class="popup__content__title h1">Przeglądaj wszystkie kategorie</div>
        <div class="popup__content__scrollable">
            <div class="category-panels">
                @if (Model.Count > 0)
                {
                    @foreach (var recipeCategory in Model)
                    {
                        <a asp-controller="Recipe" asp-action="Index" asp-route-category="@recipeCategory.Title" class="category-panels__item">
                            <img src="@recipeCategory.ImageUrl" class="category-panels__item__bg" />
                            <div class="category-panels__item__content">
                                <span>@recipeCategory.Title</span>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>